* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}


#topmenu{
    color: rgb(43, 49, 54);
    margin-bottom: 50px;
}
#middlemenu{
    display: grid;
    grid-auto-flow: column;
    display: block;
    columns: auto;
    margin-bottom: 50px;
}

#middletitulo{
    padding-bottom: 10px;
}

#addbutton{
    background-color: #222e4b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 16p
}

/* Body */
body {
    background-color: #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
