<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="topmenu">
    <h1 id="titulomenusuperior">Biblioteca Bibi</h1>
</div>

<div id="middlemenu">
    <h1 id="middletitulo">Lista de Livros</h1>
    <table border="4">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Total de Páginas</th>
            <th>Emprestado?</th>
        </tr>
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.id}"></td>
            <td th:text="${livro.titulo}"></td>
            <td th:text="${livro.autor}"></td>
            <td th:text="${livro.totPaginas}"></td>
            <td th:text="${livro.emprestado}"></td>
        </tr>
    </table>
</div>

<a href="/novo">
    <button type="button" id="addbutton">Adicionar Novo Livro</button>
</a>

</body>
</html>
